<h3>{{timeline.title}}</h3>
<strong>{{timeline.details}}</strong>
<br><br>
{{#each timeline.articles}}
<div class="card card-body mt-2 timeline-card">
    <h6>{{title}}</h6>
    <small><a href="{{link}}">{{link}}</a></small>
    <small>Date: {{date_event}}</small>
</div>


{{else}}
<p>No articles for this timeline</p>
{{/each}}